{% extends 'base.html' %}

{% block content %}
{% load static %}
<link type="text/css" href="{% static 'BZYcalculator/css/registration.css' %}" rel="stylesheet" />
<h1>Регистрация</h1>
<form method="POST" action="">
    {% csrf_token %}
    <p><label>Имя пользователя: {{ form.username }}</label></p>
    {% if form.username.errors %}
        <p class="error-message" style="color: red">{{ form.username.errors }}</p>
    {% endif %}
    <p><label>Пароль: {{ form.password1 }}</label></p>
    {% if form.password1.errors %}
        <p class="error-message" style="color: red">{{ form.password1.errors }}</p>
    {% endif %}
    <p><label>Подтвердите пароль: {{ form.password2 }}</label></p>
    {% if form.password2.errors %}
        <p class="error-message" style="color: red">{{ form.password2.errors }}</p>
    {% endif %}
    <button type="submit">Отправить</button>
</form>
{% endblock %}